.spinToWin, .navItem, .navbar{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.navLeft{
    display:flex;
    align-items: center;
    padding:14px 16px;
}
.navItem{
    height:36px;
}
.item{
    color:black;
    margin: 0 8px;
    text-decoration: none;
}
.spinToWin img{
    margin-right:8px;
}
.spinToWin h5{
    margin-right:8px;
}
.spinToWin{
    margin-right: 30px;
}
.react-switch-handle{
    background: #3062D0 !important;
}
.react-switch-bg{
    background:#1882FF !important;
}
.switchIcon{
    width: 20px;
height: 20px;
margin-top: 4px;
margin-left:4px;
}