@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root{
  scrollbar-color: #E5F2FE !important;
  scrollbar-width: thin !important;
  border-radius: 8px;;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-thumb{
  background:#92B1EC;
  border-radius: 8px;;
}
::-webkit-scrollbar-thumb:hover{
  background:#b6b7c5;
  transition:0.3s ease-in-out;
}
.App {
  font-family: 'SF Pro Display', sans-serif;            
  font-size: 14px;
  font-weight:400;
  color:black;
}
h1, h2, h3, h4, h5, h6{
  margin:0;
  font-family: 'SF Pro Display', sans-serif;  
}
h1{
  font-weight: 600;
  font-size:24px;
  line-height:32px;
}
h2{
  font-weight:600;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}
h3{
font-weight: 600;
font-size:18px;
line-height: 24px;
}
h4{
  font-weight: 500;
  font-size:16px;
  line-height:20px;
}
h5{
  font-weight:400;
  font-size:14px;
  line-height: 20px;
  opacity:0.7;
}
h6{
  font-weight:500;
  font-size:12px;
  line-height: 16px;
  color:#4C4C4C;
}
small{
  font-weight:600;
  font-size:10px;
  line-height: 14px;
  color:#4C4C4C;
}
strong{
  font-weight:600;
  font-size:16px;
  line-height: 20px;
}
.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 0 !important;
  border: 1px solid lightgray !important;
  z-index: 1 !important;
  border: 0;
  background: #fff !important;
  min-width: 58px !important;
  min-height: 58px !important;
  opacity: 1;
  color:black !important;
  cursor: pointer;
}
.react-multiple-carousel__arrow::before {
  font-size: 16px !important;
  color: #757575 !important; 
  text-align: center;
  position: relative;
}
.react-multiple-carousel__arrow--left {
  left: 0 !important;
  /* border-right:none !important; */
}
.react-multiple-carousel__arrow--right {
  right: 0 !important;
  /* border-left: none !important; */
}
.react-switch-handle{
  background: #3062D0 !important;
}
.react-switch-bg{
  background:#1882FF !important;
}
.switchIcon{
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left:4px;
}